<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/mapa"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="list-circle-outline"></ion-icon>
      Registros Guardados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="savedItems.length === 0" class="empty-state">
    <ion-icon name="list-outline"></ion-icon>
    <p>No hay registros guardados.</p>
    <p>Vuelve al mapa para añadir un punto, línea o polígono.</p>
  </div>

  <ion-list *ngIf="savedItems.length > 0" [inset]="true" lines="none">
    <ion-card *ngFor="let item of savedItems; let i = index" class="list-card" button (click)="editItem(item)">
      <ion-item lines="none" class="card-item" detail="false">
        <ion-thumbnail slot="start">
          <ion-img *ngIf="item.thumbnail" [src]="item.thumbnail"></ion-img>
          <div *ngIf="!item.thumbnail" class="no-photo-placeholder">
            <ion-icon name="image-outline"></ion-icon>
          </div>
        </ion-thumbnail>
        <ion-label>
          <h2>{{ item.name }}</h2>
          <p class="item-meta">
            <ion-icon [name]="item.icon" class="type-icon"></ion-icon>
            <span>{{ item.type }}</span>
          </p>
          <p class="item-meta date-note">{{ item.createdAt }}</p>
        </ion-label>
      </ion-item>
      <ion-button fill="clear" class="more-button" (click)="presentActionSheet(item, i, $event)">
        <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-card>
  </ion-list>
</ion-content>
