<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/mapa"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-icon [name]="(registerDataService.editKey$ | async) ? 'pencil-outline' : 'create-outline'" aria-hidden="true"></ion-icon>
      {{ pageTitle$ | async }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save()" color="light">
        <ion-icon slot="icon-only" name="save-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="productor">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Productor</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="agrarios">
        <ion-icon name="leaf-outline"></ion-icon>
        <ion-label>Agrarios</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="geometricos">
        <ion-icon name="shapes-outline"></ion-icon>
        <ion-label>Geometría</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="fotos">
        <ion-icon name="camera-outline"></ion-icon>
        <ion-label>Fotos</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="profesional-tab">
        <ion-icon name="id-card-outline"></ion-icon>
        <ion-label>Profesional</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
